@* to predent memory leaks *@
@implements IDisposable
@inject IShoppingCartService shoppingCartService

<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>

@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        // subscribe to the event
        shoppingCartService.OnShoppingCartChanged += this.ShoppingCartChanged;
    }

    // this method matches the event property
    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        // explicit to re reder de component
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= this.ShoppingCartChanged;
    }
}